#root {
    -fx-background: #484B51;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#soundtracks-container {
    -fx-border-color: #484B51;
    -fx-padding: 5px;
}

#soundtracks-container .v-box {
    -fx-spacing: 5px;
}

.soundtrack-pane {
    -fx-border: 1px;
    -fx-border-color: black;
}

.soundtrack-info-pane  {
    -fx-background-color: #2F3136;
    -fx-padding: 5px;
}

.soundtrack-info-pane Text {
    -fx-fill: #e7e7e7;
    -fx-font-weight: bold;
}

.channels-pane {
    -fx-background-color: #36393E;
    -fx-padding: 10px;
}

.channels-container {
    -fx-spacing: 10px;
}

.channel-pane {
    -fx-border: 1px;
    -fx-border-color: black;
}